<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Shopme Admin Control</title>


<!-- bootstrap , fontawesome , Css files  -->
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">


<!-- Javascript files  -->
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>



</head>
<body>

	<div class="continer-fluid">

		<div>
			<h1>Shopme Admin Panel</h1>
		</div>
		
		
		
		<div>
			
			<p>Shopme &copy; All rights reserved by Shopme - Online Shop</p>
		
		</div>

	</div>

</body>
</html>